<<<<<<< HEAD
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
body{
 background-color: rgb(248, 248, 250);
 background-repeat: no-repeat;
background-size: cover;
background-image: url("image/WhatsApp\ Image\ 2025-03-31\ at\ 11.25.37_19cffc24.jpg");
 }

img{
 margin-left: 170px;
 width: 100;
 height: 100;
 border-radius: 100px;
}
div{
 border-radius: 50px;
 background-color: rgba(0, 3, 5, 0.877);
 width: 400px;
 height: 40px;
 margin-left: 40px;
 border-style: inset;
 border-color: rgba(13, 126, 219, 0.877);
 text-align: justify;
 color: rgba(13, 126, 219, 0.877);
 
}


input{
 border-radius: 10px;
 background-color: rgba(2, 2, 12, 0.877);
 color: rgb(184, 171, 171);
 margin-left: 40px;
 width: 400px;
 height: 45px;
 margin-bottom: 10px;
 border-style: inset;
 border-color: rgb(160, 155, 155);
}
h3{
 margin-left: 130px;
 color: rgba(13, 126, 219, 0.877);
}
button{
 border-radius: 50px;
 background-color: rgba(13, 126, 219, 0.877);
 width: 400px;
 height: 40px;
 margin-left: 40px;
 text-align: justify;
 color:white;
 text-align: center;
 
}
h3.ti{
 color: white;
 margin-bottom: 150px;
 margin-right: 45px;
 border: none;
}
h3.tri{
 color: white;
 margin-right: 150px;
}
h2{
 color: bisque;
}
input::placeholder{
 text-align: center;
}
input:hover{
 background-color: rgb(250, 253, 252);
 cursor: pointer;
}
ol li{
 list-style: none;
 /* display: inline; */
 list-style-type: disc;
 list-style-type: disc;
 color: red;
}
=======
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
body{
 background-color: rgb(248, 248, 250);
 background-image: url("tri/WhatsApp\ Image\ 2025-03-31\ at\ 11.25.37_19cffc24.jpg");
 background-repeat: no-repeat;
background-size: cover;
 }

img{
 margin-left: 170px;
 width: 100;
 height: 100;
 border-radius: 100px;
}
div{
 border-radius: 50px;
 background-color: rgba(0, 3, 5, 0.877);
 width: 400px;
 height: 40px;
 margin-left: 40px;
 border-style: inset;
 border-color: rgba(13, 126, 219, 0.877);
 text-align: justify;
 color: rgba(13, 126, 219, 0.877);
 
}


input{
 border-radius: 10px;
 background-color: rgba(2, 2, 12, 0.877);
 color: rgb(184, 171, 171);
 margin-left: 40px;
 width: 400px;
 height: 45px;
 margin-bottom: 10px;
 border-style: inset;
 border-color: rgb(160, 155, 155);
}
h3{
 margin-left: 130px;
 color: rgba(13, 126, 219, 0.877);
}
button{
 border-radius: 50px;
 background-color: rgba(13, 126, 219, 0.877);
 width: 400px;
 height: 40px;
 margin-left: 40px;
 text-align: justify;
 color:white;
 text-align: center;
 
}
h3.ti{
 color: white;
 margin-bottom: 150px;
 margin-right: 45px;
 border: none;
}
h3.tri{
 color: white;
 margin-right: 150px;
}
h2{
 color: bisque;
}
input::placeholder{
 text-align: center;
}
input:hover{
 background-color: rgb(250, 253, 252);
 cursor: pointer;
}
ol li{
 list-style: none;
 /* display: inline; */
 list-style-type: disc;
 list-style-type: disc;
 color: red;
}
>>>>>>> 306acb9848d0937f61f960802d62fb0f88132d80
